aiohttp==3.11.16
aiogram==3.19.0
alembic
anthropic
asyncpg
psycopg2-binary
bcrypt
boto3
cent
celery
cryptography
fastapi
google-generativeai
groq
langchain
langchain-anthropic
langchain-openai
openai
Pillow
passlib
punq
pydantic
pydantic[email]
pydantic-settings
PyJWT
python-multipart
redis
ruff>=0.3.0
SQLAlchemy-Utils
sqlalchemy
telethon
uvicorn
uvicorn[standard]
python-dotenv
python-jose
Werkzeug
qrcode[pil]
pytest
pytest-asyncio
watchdog
requests